html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: url(../css/Design-Background.jpg) fixed;
    background-size: cover;
    overflow: auto;
}

.search {
    padding: 10px 10px;
    margin: 5px 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid rgb(59, 56, 56);
    outline: none;
    background: transparent;
}

.btn-primary {
    background: linear-gradient(to right, #241a5a, rgb(59, 60, 110));
}

.star-ratings {
    unicode-bidi: bidi-override;
    color: #ccc;
    font-size: 64px;
    position: relative;
    margin: 0;
    padding: 0;
    margin-left: 39%
}

.float-rate {
    float: left;
}
.fill-ratings {
    color: #ddb85d    ;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
}

.stars {
    display: inline-block;
}


.empty-ratings {
    padding: 0;
    display: block;
    z-index: 0;
}

.logo {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 2px solid white;
    margin-left: 45%;
}

.feedback {
    max-width: 500px;
    overflow-wrap: break-word;
}
.logo-nav {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid white;
    margin-left: 45%;
}

.container-nav {
    margin-left: 0px !important;
}

.rating {
    float: left;
}

    .rating:not(:checked) > input {
        clip: rect(0px, 0px, 0px, 0px);
        position: absolute;
    }

    .rating:not(:checked) > label {
        color: white;
        cursor: pointer;
        float: right;
        font-size: 160%;
        line-height: 1.2;
        overflow: hidden;
        padding: 0 0.1em;
        white-space: nowrap;
        width: 1em;
    }

    .rating:not(:checked) > label:before {
            content: "★ ";
     }

    .rating > input:checked ~ label {
        color: #FF7700;
    }

    .rating:not(:checked) > label:hover, .rating:not(:checked) > label:hover ~ label {
        color: gold;
    }

    .rating > input:checked + label:hover, .rating > input:checked + label:hover ~ label, .rating > input:checked ~ label:hover, .rating > input:checked ~ label:hover ~ label, .rating > label:hover ~ input:checked ~ label {
        color: #EEAA00;
    }

    .rating > label:active {
        left: 2px;
        position: relative;
        top: 2px;
    }

input{
    border: none;
    border-radius: 30px;
}
