html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: url(../css/Design-Background.jpg) fixed;
    background-size: cover;
    overflow: auto;
}

.search {
    padding: 10px 10px;
    margin: 5px 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid rgb(59, 56, 56);
    outline: none;
    background: transparent;
}

.btn {
    background: linear-gradient(to right, #241a5a, rgb(59, 60, 110));
}


